{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "no-else-return": 0,
    "block-scoped-var": 0,
    "react/jsx-quotes": [2, "single", "avoid-escape"],
    "react/wrap-multilines": 0,
    "new-cap": 0,
    "spaced-comment": 0,
    "react/sort-comp": [1, {
      order: [
        'lifecycle',
        'render',
      ],
      "groups": {
         "lifecycle": [
           "displayName",
           "constructor",
           "propTypes",
           "defaultProps",
           "contextTypes",
           "childContextTypes",
           "getChildContext",
           "mixins",
           "statics",
           "getDefaultProps",
           "getInitialState",
           "componentWillMount",
           "componentDidMount",
           "componentWillReceiveProps",
           "shouldComponentUpdate",
           "componentWillUpdate",
           "componentDidUpdate",
           "componentWillUnmount",
           "observe",
         ]
      }
    }]
  }
}
